/*the main style is at body.css*/

.big-image-inner{
    width: 325px;
}
.big-image-container{
    position: relative;
    width: 325px;
    height: 325px;
    max-width: 100%;
    overflow: hidden;
    position: relative;
}
.big-image{
    display: flex;
}
.big-image-container .big-image img{
    width: 325px;
    height: auto;
}
.arrow{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
   
}
#prev, #next{
    color: #493b49;
    font-size: large;
    font-weight: bold;
    background: transparent;
    border: none;
    opacity: .5;
}
#prev:hover, 
#next:hover{
    opacity: 1;
    background: #c080c0;
    padding: 2px 4px;
}

#prev{
    left: 10px;
}
#next{
    right: 10px;
}